.modal-overlay {
  background-color: rgba(146, 23, 23, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  border: 1px solid #ccc;
  background-color: red;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: '20px';
}
